spring:
  application:
    name: scsms-api-service
  datasource:
    url: jdbc:postgresql://localhost:5432/scsms
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8081
  servlet:
    context-path: /api
