spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:scsms}?currentSchema=public
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
  jpa:
    hibernate:
      ddl-auto: validate  # Safer for production
    properties:
      hibernate:
        default_schema: public
        format_sql: false
        show_sql: false
    show-sql: false
logging:
  level:
    com.kltn.scsms_api_service: INFO
    web: info
    root: info
