spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://118.69.188.126:5432/scsms?currentSchema=prod
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # Auto create/update tables (use 'validate' after initial setup)
    properties:
      hibernate:
        default_schema: prod
        format_sql: true
        show_sql: true
    show-sql: false
logging:
  level:
    com.kltn.scsms_api_service: INFO
    web: info
    root: info

app:
  cors:
    allowed-origin-patterns: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://18.136.156.98:3000,http://hoangnam.info.vn,https://hoangnam.info.vn}
