# Development Profile
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/scsms?currentSchema=dev
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: dev
        format_sql: true
        show_sql: true
    show-sql: true
logging:
  sensitive-fields: ${SENSITIVE_DATA:accessToken, refreshToken, phoneNumber,email}
  level:
    com.kltn.scsms_api_service: TRACE
    root: warn
    web: debug
