spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:scsms}?currentSchema=dev
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
  jpa:
    hibernate:
      ddl-auto: update # Auto create/update tables (use 'validate' after initial setup)
    properties:
      hibernate:
        default_schema: dev
        format_sql: false
        show_sql: false
    show-sql: false
logging:
  level:
    com.kltn.scsms_api_service: INFO
    web: info
    root: info

app:
  cors:
    allowed-origin-patterns: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://18.136.156.98:3000,http://hoangnam.info.vn,https://hoangnam.info.vn}
