spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://118.69.188.126:5432/scsms?currentSchema=prod
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # Auto create/update tables (use 'validate' after initial setup)
    properties:
      hibernate:
        default_schema: prod
        format_sql: true
        show_sql: false
    show-sql: false

app:
  cors:
    allowed-origin-patterns: "http://localhost:3000,http://${EC2_IP}:3000,http://${EC2_IP},http://scsms.store,https://scsms.store"
